div {
  border: 5px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: wrap; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 50em; /* of the divs oblong*/
 /* this makes the normally square div round */
  border-left-color: blue; /* these remove the color from the left side */
  border-right-color: green; /* the right side */
  border-bottom-color: yellow; /* and the bottom of the circle */
}
